src/main/mule/cicd-payel.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c715edf6-d886-4438-84d2-3c87e81db3a7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-payelFlow" doc:id="04337e83-cf04-4b5b-a704-7936843aebd1" >
		<http:listener doc:name="Listener" doc:id="fbc385d9-d97e-45af-8366-1ccbfd00ed6c" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="fb35ad37-d58c-430b-8769-acbd752ab6cb" />
	</flow>
</mule>
